PORT=8086
RUST_LOG=info
LAB_BUILDER_LOCAL_MODE=true
LAB_BUILDER_LOCAL_EXECUTION_ENABLED=true
LAB_BUILDER_LOCAL_DOCKER_BINARY=docker
LAB_BUILDER_LOCAL_KIND_BINARY=kind
LAB_BUILDER_LOCAL_KIND_CLUSTER_NAME=altair
LAB_BUILDER_LOCAL_KIND_LOAD_ENABLED=true
GCP_PROJECT_ID=altair-isen
GCP_REGION=europe-west9
ARTIFACT_REGISTRY_HOST=europe-west9-docker.pkg.dev
ARTIFACT_REGISTRY_REPO=altair-labs
LAB_BUILD_SOURCE_BUCKET=altair-lab-builds
LAB_BUNDLE_ROOT_DIR=/tmp/altair-lab-builder
CLOUD_BUILD_TIMEOUT_SECONDS=1200
